@import "tailwindcss";

:root {
  --background: #111827;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins);
  }
}

body {
  background: var(--background);
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 30px 30px;
  color: var(--foreground);
  font-family: var(--font-inter);
}

.divider {
  height: 1px;
  margin: 25px 0;
  background: linear-gradient(to right, transparent 0%, rgba(79, 209, 197, 0.4) 50%, transparent 100%);
}